<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.gwaya.jopy">

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="br.com.gwaya.jopy.permission.C2D_MESSAGE" />
    <uses-permission android:name="br.com.gwaya.jopy.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="br.com.gwaya.jopy.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ico"
        android:label="@string/app_name"
        android:theme="@style/MyAppTheme">

        <activity
            android:name=".activity.ActivitySplashScreen"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ActivityQuadroHorarios"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ActivityMenu"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ActivityLogin"
            android:alwaysRetainTaskState="false"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.abas.ActivitySobre"
            android:label="@string/title_activity_opcoes"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.abas.ActivityPendentes"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.abas.ActivityAprovados"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.abas.ActivityRejeitados"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ActivityDetalhe"
            android:screenOrientation="portrait">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ActivityMain" />
            >
        </activity>

        <activity
            android:name=".activity.ActivityHistorico"
            android:screenOrientation="portrait">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ActivityDetalhe" />
            >
        </activity>

        <activity
            android:name=".activity.ActivityDetalheHistorico"
            android:screenOrientation="portrait">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ActivityHistorico" />
            >
        </activity>

        <activity
            android:name=".activity.ActivityMain"
            android:screenOrientation="portrait" />

        <receiver android:name=".communication.PedidoCompraReceiver" />

        <service android:name=".communication.PedidoCompraService" />

        <receiver android:name=".communication.BootReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".communication.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="br.com.gwaya.jopy" />
            </intent-filter>
        </receiver>

        <service android:name=".communication.GCMIntentService" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f97e520be8898408df5f8d2e8dfea83f5df8fc6d" />
    </application>

</manifest>
